<footer>
    <span class="copyright">
        &copy; {{date format="YYYY"}} {{@blog.title}}. All Rights Reserved. | Built with <a href="https://ghost.org/" target="_blank">Ghost</a> and a modified version of <a href="https://github.com/kelyvin/caffeine-theme" target="_blank">Caffeine Theme</a>. Icons provided by <a href="https://thenounproject.com/xinhstudio/" target="_blank">Xinh Studio</a> and <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>.
    </span>
</footer>
