<header id="default-nav-header" class="nav-header nav-header-fixed animated">
    <a class="tags-button left" id="home-button" href="{{@blog.url}}">
        <i class="fa fa-arrows-alt hvr-grow"></i>
      </a>
    <a class="tags-button right">
        <i class="fa fa-search hvr-grow"></i>
    </a>
</header>
