{{!------------------------------
To add a new social icon simply add an icon listed within the Font Awesome toolkit.
Add the class in the <i> tag to match the desired social network
and then add your link to the <a>.
--------------------------------}}
<ul class="social expanded">

  <!-- Linkedin -->
  <li class="social item hvr-grow-rotate">
      <a rel="me" target="_blank" href="http://linkedin.com/in/frankgervais/" title="Francois on LinkedIn">
          <i class='fa fa-linkedin'></i>
          <span class="label">Linkedin</span>
      </a>
  </li>

    <!-- AngelList -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://angel.co/francois-gervais" title="Francois on AngelList">
            <i class='fa fa-angellist'></i>
            <span class="label">AngelList</span>
        </a>
    </li>

    <!-- Github -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://github.com/francoisgervais/website-v13" title="Francois on Github">
            <i class='fa fa-github'></i>
            <span class="label">Github</span>
        </a>
    </li>

    <!-- Email -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="mailto:client@francoisgervais.ca" title="Send me email">
            <i class='fa fa-envelope-o'></i>
            <span class="label">Email</span>
        </a>
    </li>

    <!-- Phone -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="tel:5148131337" title="Give me a call">
            <i class='fa fa-mobile'></i>
            <span class="label">Phone</span>
        </a>
    </li>

    <!-- RSS -->
    <li class="social item hvr-grow-rotate">
        <a href="/rss/" title="Subscribe to RSS">
            <i class='fa fa-rss'></i>
            <span class="label">RSS</span>
        </a>
    </li>
</ul>
